.ui.vertical.masthead.center.aligned.segment
  .ui.text.container
    h1.ui.green.header#main-header.menu-font
      p
        i.terminal.icon
        | Freshman Cup ACM
        br
        | 2018
    h2.ui.green.header.menu-font Login to begin...
