.ui.text.container
  .ui.segments
    .ui.segment( v-if="problem" )
      h2.ui.heading 
        | # {{ problem._id }}: {{ problem.name }}
    .ui.segment( v-if="stats" )
      h3.ui.header Leader Board
      table.ui.celled.table.selectable( :class="{pointer: problem && problem.solutionVisible}" )
        thead
          tr
            th Rank
            th Team
            th Solve
            th Time
            th A
            th B
            th C
            th D
            th E
            th F
            th G
            th H
            th I
            th J
          tbody
            tr( v-for="sub of (stats)"
    //              v-link="problem.solutionVisible ? {name: 'submission', params: {id: sub._id}} : null" )
                td.collapsing.center.aligned( :class="{ 'blue-link': problem.solutionVisible }" ) {{ sub._id }}
                td {{ _.get(sub, 'submittedBy.meta.name', '') }} ({{ _.get(sub, 'submittedBy.meta.id') }})
                td {{ probUtils.toDisplayTime(sub.runtime) }}

    //.ui.segment( v-if="stats" )
      h3.ui.header Statistic
      .ui.grid.three.column.row
        .column.center.aligned
          .ui.statistic
            .value {{ stats.hwStats.count }}
            .label Number of users tried
        .column.center.aligned
          .ui.statistic
            .value {{ stats.hwStats.AC }}
            .label #users with full grade
        .column.center.aligned
          .ui.statistic
            .value {{ stats.hwStats.average | toFixed 1 }}
            .label Average points

    //.ui.segment
      h3.ui.header Points distribution
      div
        canvas#points-chart

    //-.ui.segment
      h3.ui.header First to AC
      table.ui.table
        tr( v-for="sub of stats.earliest" )
          td {{ sub.submittedBy.email }}
          

