.ui.text.container2
  .ui.segments
    .ui.segment( v-if="problem" )
      h2.ui.heading 
        | # {{ problem._id }}: {{ problem.name }}
    .ui.segment( v-if="stats" )
      h3.ui.header Leader Board
      table.ui.celled.table.FIX.selectable( :class="{pointer: problem && problem.solutionVisible}" )
        thead
          tr
            th Rank
            th Team
            th Solved
            th Time
            th A
            th B
            th C
            th D
            th E
            th F
            th G
            th H
            th I
            th J
          tbody
            tr( v-for="user in stats.user" )
              td(v-bind:class="{ TD : 1}") {{ $index+1 }}
              td(v-bind:class="{ TD : 1}") {{ user.meta.name }}
              td(v-bind:class="{ TD : 1}") {{ user.solve }}
              td(v-bind:class="{ TD : 1}") {{ user.time }}
              td( v-for="index in 10" :key="index" v-bind:class="{ TD: 1, fac : (user.submission_limit[index+1].FAC === 1), positive : (user.submission_limit[index+1].AC === 'AC' && user.submission_limit[index+1].FAC !== 1), negative : (user.submission_limit[index+1].AC !== 'AC' && user.submission_limit[index+1].quota !== 0 )}") {{ user.submission_limit[index+1].quota }} / {{ user.submission_limit[index+1].last_submission }}